<div class="card">
    <div class="card-header">
        Question
    </div>
    <div class="card-body">
        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Subject</h3>
        <p class="text-muted">Question content</p>
        <br>
        <div class="col-sm-6" style="width: 30%;">
            <img class="img-fluid"  src="/img/AdminLTELogo.png" alt="">    
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Answer
    </div>
    <div class="card-body col-12 col-md-12 ">
        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Subject</h3>
        <p class="text-muted">Question content</p>
        <br>
        <img src="" alt="">
    </div>
</div>

{{!-- display when not having answer  --}}
<div class="card" style="display: none;">
    <div class="card-header">
        Answers
    </div>
    <form action="" method="post">
        <div class="card-body col-12 col-md-12 order-1 order-md-2">
            <div class="form-group">
                <label for="exampleInputPassword1">Answer</label>
                <textarea name="" class="form-control" id=""></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>
